@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Pacifico&display=swap");

:root {
  --pacifico: "Pacifico", cursive;
  --karla: "Karla", sans-serif;
  --background-color: #607df2;
  --font-color: #121619;
  --container-background: #ffffff;
  --secondary-font-color: #808080;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--karla);
  background-color: var(--background-color);
  box-sizing: border-box;
}